NumMatcher.xsd

<xs:schema 
    attributeFormDefaultattributeFormD ="unqualified"
    elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="reqNumMatcher">
		<xs:complexType>
			<xs:all>
				<xs:element type="xs:string" name="name"/>
				<xs:element type="xs:string" name="num"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>